.admin-categories-section {
    & .admin-categories {
        & table {
            margin-top: 1.5rem;

            & .centre-td {
                text-align: center;
            }

            & td[colspan="4"],
            .null-td {
                text-align: center;
                color: #888;
            }

            & .subcategory-td {
                cursor: pointer;
            }

            & .subcategory-tr-hover .subcategory-td {
                background-color: #f5f5f5;
            }
        }
    }
}