.admin-products-section {
    & .admin-products {
        & menu {
            margin-top: 1.5rem;
        }

        & .name-th {
            width: 35%;
        }

        & .brand-th {
            width: 20%;
        }

        & .price-th {
            width: 15%;
        }

        & .view-th,
        .update-th,
        .delete-th {
            width: 10%;
        }

        & tr {
            cursor: pointer;
        }

        & th {
            cursor: default;
        }

        & tr:hover {
            background-color: #f0f0f0;
        }

        & .price-td {
            text-align: center;
        }
    }
}