.wishlist-container {
    padding: 0;

    & h2 {
        padding: 1rem;
        margin: 0;
    }

    & .wishlist {
        background-color: #fff;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        /* gap: 1.5rem; */

        & .wishlist-card {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0 1rem;

            & .wishlist-img {
                width: 7rem;
                height: auto;
                object-fit: cover;
            }

            & .wishlist-info {
                width: 70%;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                justify-content: center;

                & .wishlist-title {
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: #333;
                }
            }

            & i {
                width: 5%;
            }
        }
    }

    & hr {
        border: none;
        border-top: 1px solid #e0e0e0;
        /* margin: 0.5rem 0; */
    }

    & .custom-pagination {
        padding-right: 1rem;
    }
}

