.filter-product-container {
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;

    & .container-filter {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        background-color: #fff;
        width: 100%;
        border-bottom: solid 0.1rem gray;

        & .product-details {
            width: 100%;
            display: flex;
            flex-direction: row;
            position: relative;

            & .favourite {
                position: absolute;
                left: calc(25% + 1rem);
                top: 2rem;
                z-index: 1;

                & .icon {
                    font-size: 1.4rem;
                }
            }

            & .product-img {
                width: 25%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2rem;

                & img {
                    height: 8rem;
                    width: auto;
                }
            }

            & .product-details-container {
                width: 75%;
                display: flex;
                flex-direction: row;
                gap: 1rem;
                margin: 2rem;

                & .product-description {
                    width: 75%;

                    h2 {
                        font-size: 1.2rem;
                        margin-bottom: 0.4rem;
                    }

                    p {
                        font-size: 0.9rem;
                        color: gray;
                        margin-bottom: 0.4rem;
                    }

                    .rating {
                        background-color: green;
                        color: white;
                        padding: 0.2rem 0.4rem;
                        border-radius: 0.4rem;
                    }
                }

                & .product-buy {
                    display: flex;
                    flex-direction: column;
                    gap: 0.4rem;

                    p {
                        color: black;
                        font-size: 1.2rem;
                        font-weight: bold;
                    }

                    small {
                        font-size: 1rem;
                        color: black;
                        font-weight: 800;

                        span {
                            text-decoration-line: line-through;
                            color: gray;
                        }
                    }

                    .stock {
                        color: gray;
                    }
                }
            }
        }
    }

    & .container-filter:last-child {
        border-bottom: none;
        border-radius: 0 0 0.4rem 0.4rem;
    }
}