.product-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
    border: 0.5px solid gray;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    padding: 0.3rem;

    & .favourite {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
    }

    & .product-img {
        width: 15rem;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            max-width: 85%;
            max-height: 85%;
            height: auto;
        }
    }

    & i {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    & .product-details {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;

        & .category {
            color: gray;
            font-weight: bold;
            padding-bottom: 0.3rem;
        }

        & p {
            color: black;
            font-size: 1rem;
            font-weight: bold;
        }

        & .mrp-discount {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: gray;
            font-weight: 700;

            & .mrp {
                text-decoration-line: line-through;
            }
        }

        & .rating {
            background-color: green;
            color: white;
            width: 3rem;
            padding: 0.2rem;
            text-align: center;
            border-radius: 0.4rem;
        }
    }
}