.product-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
    border: 0.5px solid gray;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    padding: 0.3rem;

    & .favourite {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
    }

    & .product-img {
        width: 15rem;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            max-width: 85%;
            max-height: 85%;
            height: auto;
        }
    }

    & i {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    & .product-details {
        display: flex;
        flex-direction: column;

        & .category {
            color: gray;
            font-weight: bold;
            padding-bottom: 0.3rem;
        }

        & p {
            color: black;
            font-size: 1rem;
            font-weight: bold;
        }

        & small {
            color: gray;
            font-weight: 700;

            & span {
                text-decoration-line: line-through;
            }
        }

        & .rating {
            background-color: green;
            color: white;
            width: 3rem;
            padding: 0.2rem;
            text-align: center;
            border-radius: 0.4rem;
        }
    }

    & .product-btn {
        margin-top: 0.3rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & a {
            color: white;
            width: 50%;
            height: 1.5rem;
        }

        & .btn {
            width: 100%;
            height: 100%;
            background: #B51B75;
            color: white;
            border: none;
            outline: none;
            border-radius: 0.2rem;
            white-space: nowrap;
            text-align: center;
            cursor: pointer;
            font-size: 0.8rem;
        }

        .view-btn {
            background-color: #FF76CE !important;
        }

        i {
            font-size: 1.2rem;
        }
    }
}