.admin {
    padding: 5rem 0;

    & .header-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        & i {
            display: flex;
            align-items: center;
            font-size: 2rem;
            color: #007bff;
            cursor: pointer;
        }
        
        & i:hover {
            color: #0056b3;
        }
    }

    & table {
        width: 100%;
        border-collapse: collapse;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        & th {
            background-color: #007bff;
            color: white;
            padding: 0.6rem;
            text-align: center;
            font-weight: bold;
            border: 1px solid #ddd;
        }

        & td {
            padding: 0.6rem;
            border: 1px solid #ddd;
            text-align: left;
        }

        & .btn {
            padding: 5px 0.6rem;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 0.4rem;
            display: block;
            margin: 0 auto;
            cursor: pointer;
        }
    
        & .btn:hover {
            background-color: #0056b3;
        }
    }
}