.notification-container {
    & .notification-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & .notification-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            padding: 0.7rem;
            border: 1px solid #ddd;
            border-radius: 0.5rem;
            background: #fafafa;
            transition: 0.3s;

            & .content-wrapper {
                display: flex;
                align-items: center;
                gap: 1rem;

                & img {
                    width: 3rem;
                    height: auto;
                    object-fit: cover;
                }

                & .details-container {
                    display: flex;
                    align-items: center;
    
                    & input[type="checkbox"] {
                        margin-right: 0.7rem;
                        cursor: pointer;
                    }
    
                    & .details-content {
                        display: flex;
                        flex-direction: column;
                        gap: 0.3rem;

                        & .product-title {
                            color: blue;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        & .notification-item:hover {
            background: #f0f0f0;
        }
    }
}