.product-details-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1.5rem;
    margin: 2rem 3%;

    & .left-side {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & .image-container {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            border: solid 1.5px rgb(173, 163, 163);

            & .verically-img-show {
                display: flex;
                flex-direction: column;
                border: none;
                outline: none;
                height: 20rem;
                overflow-y: auto;
                overflow-x: hidden;
                scrollbar-width: thin;
                scrollbar-color: rgba(100, 97, 97, 0.61) lightgray;

                & ul {
                    border-right: solid 1.5px rgb(173, 163, 163);

                    & li {
                        box-sizing: border-box;
                        width: 5rem;
                        height: 5rem;
                        padding: 0.3rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        opacity: 0.5;
                        border-top: solid 1.5px rgb(173, 163, 163);
                        outline: none;

                        & img {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }

                    & li:first-child {
                        border-top: none;
                    }

                    & li:hover {
                        opacity: initial;
                        border: 3px solid blue;
                        cursor: pointer;
                    }
                }
            }

            & .hover-img-show {
                width: calc(100% - 5rem);
                height: 20rem;
                display: flex;
                align-items: center;
                justify-content: center;

                & img {
                    width: 90%;
                    height: auto;
                    max-width: 85%;
                    max-height: 85%;
                }
            }
        }

        & .button-container {
            display: flex;
            gap: 0.5rem;

            & .btn {
                width: 50%;
                padding: 0.5rem 0;
                border: none;
                outline: none;
                background-color: blue;
                color: white;
                font-weight: 700;
                border-radius: 0.3rem;
                cursor: pointer;
            }
        }

    }
}
