.footer-container {
    background-color: #1A4D2E;
    color: white;
    padding: 3% 7%;
}
.footer-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
@media (max-width : 991px) {
    .footer-row {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
    }
}
@media (max-width : 767px) {
    .footer-row {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
.footer-col {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.footer-col h2,
.footer-container h3 {
    font-size: 1.5rem;
    color: #878787;
}

.media-container form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.form-group input {
    border: none;
    border-bottom: solid 0.2rem white;
    background-color: inherit;
    width: 90%;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
}
.form-group input:focus {
    outline-color: blueviolet;
}
.form-group input::placeholder {
    color: white;
}
.input-group .btn {
    padding: 0.8rem 1.2rem;
    background-color: inherit;
    color: white;
    border: white solid 0.15rem;
    border-radius: 7.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.input-group .btn:hover {
    background-color: white;
    color: black;
}

.footer-container ul li {
    padding-bottom: 0.5rem;
}

.social-list {
    display: flex;
    align-items: center;
    gap: 1rem;
}
@media (max-width : 767px) {
    .social-list {
        justify-content: center;
    }
}
.soc-item {
    border: 0.15rem solid wheat;
    border-radius: 100%;
    cursor: pointer;
}
.soc-item:hover {
    border-color: white;
    color: white;
}
.soc-icon {
    width: 1rem;
    height: 1rem;
    display: flex;
    font-size: 1rem;
    padding: 0.5rem;
}