.navbar {
    position: relative;
    height: 4rem;

    & .navabar-container {
        position: fixed;
        z-index: 10;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 4rem;
        background-color: blue;

        & .main-container {
            & .logo {
                color: white;
                cursor: pointer;
            }
        }

        & .list-item-container {
            list-style-type: none;
            display: flex;
            gap: 1rem;
            margin-right: 2rem;

            & .list-item {
                position: relative;

                & .nav-link {
                    display: flex;
                    gap: 0.2rem;
                    cursor: pointer;
                    color: white;
                    text-decoration-line: none;

                    & i {
                        display: flex;
                        font-size: 1.3rem;
                        position: relative;

                        & span {
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            bottom: 1rem;
                            font-size: 0.8rem;
                            font-weight: 600;
                            left: 50%;
                            transform: translate(-30%, 0);
                            background-color: red;
                            width: 1.2rem;
                            height: 1.2rem;
                            border-radius: 100%;
                            border: white;
                            outline: white
                        }
                    }

                    & p {
                        font-size: 1.1rem;
                        display: flex;
                        align-items: center;

                        & i {
                            display: flex;
                            align-items: center;
                        }
                    }
                }

                & .user-section {
                    position: absolute;
                    white-space: nowrap;
                    background-color: #fff;
                    border-radius: 0.4rem;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

                    & p {
                        padding: 0.5rem;
                        border-radius: 0.4rem;
                    }

                    & .user-registration {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        cursor: pointer;

                        & .signup {
                            font-weight: bold;
                            color: blue;
                        }
                    }

                    & .user {
                        display: flex;
                        flex-direction: column;

                        & p {
                            cursor: pointer;
                            display: flex;
                            gap: 0.5rem;
                        }

                        & p:hover {
                            background-color: whitesmoke;
                        }
                    }
                }
            }
        }
    }
}