.subCategory-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .subCategory {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: relative;
        border: 0.1rem solid grey;
        padding: 0.5rem;
        border-radius: 0.4rem;
    }
}