.filter-sidebar-container {
    width: 15rem;
    & .filter-sidebar {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        background-color: #fff;
        white-space: nowrap;
        padding: 0.5rem 1rem 0 0.5rem;
        border-radius: 0.4rem;
        position: sticky;
        top: 7rem;
        z-index: 7;
        & .filters {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            white-space: nowrap;
            font-weight: 500;
            color: blueviolet;
            & p.second {
                font-size: 0.9rem;
                cursor: pointer;
            }
        }
        & h1 {
            font-size: 1rem;
        }
        & div {
            & li {
                font-size: 0.9rem;
                color: gray;
                cursor: pointer;
                & input {
                    margin-right: 0.2rem;
                    cursor: pointer;
                }
            }
        }
        & .filter-category {
            & .subcategory-heading {
                display: flex;
                align-items: center;
                color: black;
                font-weight: 600;
                cursor: pointer;
                & i {
                    display: flex;
                    align-items: center;
                }
            }
            & .subCategory-ul {
                padding-left: 1.1rem;
            }
        }
    }
}